section {
    text-align: center;
    padding: 30px 30px;
    margin: auto;
    float: unset !important;
}
section div {
    float: left;
    padding-right: 30px;
    font-weight: bold;
    font-size: 15px;
}
section input {
    font-size: 12px;
}
.failed-records {
    margin: auto;
    float: unset !important;
}
table, td, tr {
    border: 1px solid black;
    padding: 10px;
}
thead {
    font-weight: bold;
}