<div class="col-xs-12 col-md-5 input-section">
    <div class="col-xs-12">
        <div class="input-text col-xs-6">
            Upload the file for validation
        </div>
        <input accept=".csv,.xml" #inputFile class="col-xs-6" type='file' id="uploadCaptureInputFile" (change)='getInputFile($event)' id='fileInput'>
    </div>
    <div class="col-xs-12 input-button">
        <button (click)="onValidate()">Validate</button>
        <button (click)="onClearResults()">Clear</button>
    </div>
</div>